name: Create Release

on:
  push:
    tags:
      - 'v*' # Trigger on version tags

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '17'  # Set Java version to 17
          distribution: 'temurin'  # Specify the Java distribution
          java-package: jdk
          architecture: x64
          check-latest: false
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build APK
        run: ./gradlew assembleRelease  # Build the release APK

      - name: Upload APK as Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: app/build/outputs/apk/release/app-release.apk  # Update with your APK path
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}